body
{
	word-break: break-word;
	margin-bottom: 20px;
}

body, input
{
	font-size: 1.2rem;
	font-family: 'Lato', sans-serif;
}

input
{
	margin-right: 5px;
	margin-bottom: 2px;
}

h1, h2
{
	text-transform: uppercase;
}

h1
{
	font-size: 2rem;
	text-align: center;
	text-shadow: 4px 4px 5px white;
}

h2
{
	font-size: 1.7rem;
	margin-top: 0;
}

ul
{
	list-style-type: none;
	padding: 0px;
}

#main_wrapper
{
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.div_module
{
	box-shadow: inset 0px 0px 10px black;
	margin: 10px;
	padding: 10px;
}

.hidden
{
	display: none;
}

.div_module, input, #div_contacts div[id*="ID"]
{
	border-radius: 5px;
}

/* STYLE MODULE ---------------------------------------------- */
#p_style_color_text span, #p_style_color_background span, #p_style_color_ongoing span
{
	margin-left: 10px;
}

#p_style_color_text, #p_style_color_background, #p_style_color_ongoing
{
	margin-bottom: 0;
}

/* TODO LIST ------------------------------------------------- */
#div_task_interaction
{
	margin-top: 15px;
}

#div_task_interaction_first input
{
}

#div_task_interaction_second input
{	
	background-color: #000;
	color: #FFF;
}

/* ADDRESS BOOK ---------------------------------------------- */
.active
{
	background-color: initial;
}

.inactive
{
	background-color: #9DA3A3;
}

#p_no_contact
{
	margin-bottom: 0;
}

#addressbook_form
{
	margin-top: 20px;
}

.logo
{
	width: 50px;
	height: 50px;
}

.logo, .fas
{
	margin-right: 10px;
}

.contact_field
{
	margin-bottom: 5px;
}

#div_contacts div[id*="ID"]
{
	padding: 5px;
	padding-top: 0;
}

/* GEOLOCATION ----------------------------------------------- */
#div_geolocation_display ul
{
	margin-bottom: 0;
}

