body
{
	background-color: #571945;
}

h1
{
	text-transform: uppercase;
}

ul
{
	list-style-type: none;
	padding: 0px;
}

.hidden
{
	display: none;
}

.active
{
	background-color: initial;
}

.inactive
{
	background-color: #9DA3A3;
}

